body {
    
    background-image: url(./pics/mountain.jpg);
    background-attachment: scroll;
    background-size: 100%;
    overflow-y: scroll;
    
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #C4CAD0;
    padding: 1ch;
    color: black;
}

.description {
    text-align: left;
    color: whitesmoke;
    align-content: center;
    margin-left:30%;
    margin-right:30%; 
    margin-top: 5%;
    padding: 1%;
    height: 50%;
    position: absolute;
}

img.profile {
    border-radius: 50%;
}
