html,body {
    
    background-color: #f3f9fb;
    background-attachment: scroll;
    background-size: 100%;
    overflow-y: auto;
    /*background-image: url(./pics/mountain.jpg);*/
    height:100%;
    width:100%;
    scroll-behavior: smooth;
    position: fixed;
  }



footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #C4CAD0;
    color: black;
}


.projects { 
    min-height:100%;
    min-width:100%;
    width: auto;
    height: auto;
   
    min-height: 50vh;
}

.experience { 
    min-height:100%;
    min-width:100%;
    width: auto;
    height: auto;
    overflow: hidden;
    min-height: 50vh;
    
}


.navstyle {
    background-color: black; 
    box-shadow: 2px 5px 4px #888888; 
    padding: 0%";
}

.description {
    color: black;
    margin-top: 10%;
    /*box-shadow: 5px 10px 8px #888888;*/ 
    align-content: center;
    font-family: Rockwell;
    position: relative;
    text-align: center;
}

.profile {
    border-radius: 50%;
    object-fit: fill;
    max-width: 350px;
    max-height: 250px;
    width: auto;
    height:auto;
    margin-top: 5%;
    margin-bottom: 1%
}

.profile-title {
    font-family: Rockwell;
    font-size:75px;
    
}

.profile-description {
    font-family: Rockwell;
    font-size: 25px;
}

.scroll-button-exp{
    background-color: transparent;
    border: none; 
    overflow: hidden;
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height:auto;
    text-align: center;
}

.scroll-button-project{
    background-color: transparent;
    border: none; 
    overflow: hidden;
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height:auto;
    text-align: center;
}

button:focus {
    outline:none;
}

.wrapper-exp {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom:0;
}

.wrapper-project {
    text-align: center;
    width: 100%;
    
    bottom:0;
}


.name {
    background-color: #f3f9fb;
    text-align: center;
    min-height:100%;
    min-width:100%;
}

.nav-name {
    color: white; 
    font-size: 175%
}
